[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "scDesign3"]
	path = scDesign3
	url = https://github.com/songdongyuan1994/scdesign3
